<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="25">
            <label>Magenest</label>
        </tab>
        <section id="directory" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="70">
            <class>separator-top</class>
            <label>Directory</label>
            <tab>magenest</tab>
            <resource>Magenest_Directory::configuration</resource>
            <group id="update" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="0">
                <label>Directory Data Update</label>
                <field id="file_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="10" showInDefault="1" showInWebsite="1" >
                    <label>Upload Directory Data (XLS, XLSX)</label>
                    <backend_model>Magenest\Directory\Model\Config\Backend\DirectoryFile</backend_model>
                    <upload_dir config="system" scope_info="1">directory</upload_dir>
                    <comment><![CDATA[Please visit <a href="https://danhmuchanhchinh.gso.gov.vn/" target="_blank"><span>this link</span></a> to download latest file.]]></comment>
                </field>
<!--                <field id="update_button" translate="button_label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">-->
<!--                    <button_label>Update Directory Data</button_label>-->
<!--                    <frontend_model>Magenest\Directory\Block\System\Config\Form\Button\Update</frontend_model>-->
<!--                    <comment><![CDATA[Please upload Directory Data first]]></comment>-->
<!--                </field>-->
            </group>
        </section>
    </system>
</config>
