<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_StoreLocator::storelocator" title="Store Locator" module="Magenest_StoreLocator"
             sortOrder="30" resource="Magenest_StoreLocator::storelocator"/>
        <add id="Magenest_StoreLocator::locator_manage" title="Manage Stores" module="Magenest_StoreLocator"
             sortOrder="11" parent="Magenest_StoreLocator::storelocator" action="locator/locator/index/"
             resource="Magenest_StoreLocator::locator_manage"/>
        <add id="Magenest_StoreLocator::settings" title="Settings" module="Magenest_StoreLocator" sortOrder="20"
             parent="Magenest_StoreLocator::storelocator" action="adminhtml/system_config/edit/section/locator"
             resource="Magenest_StoreLocator::settings"/>
    </menu>
</config>
