<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * config.xml
 *
 * @copyright Copyright © 2020 Magenest JSC. All rights reserved.
 * @author    dangnh@magenest.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cataloginventory>
            <options>
                <enable_region_stock>1</enable_region_stock>
                <display_out_of_stock_product>1</display_out_of_stock_product>
            </options>
        </cataloginventory>
    </default>
</config>
