<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Magenest_RegionStock">
        <sequence>
            <module name="Magenest_RegionPopup" />
            <module name="Magenest_PrismRealStock" />
        </sequence>
    </module>
</config>
