<!--
/**
 * Copyright © 2020 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Magenest_Rich's extension
 * NOTICE OF LICENSE
 *
 * @category Magenest
 * @package Magenest_Rich's
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageplaza>
            <general>
                <notice_enable>0</notice_enable>
            </general>
        </mageplaza>
        <smtp>
            <module>
                <type>0</type>
            </module>
        </smtp>
        <general>
            <country>
                <default>VN</default>
            </country>
            <locale>
                <timezone>Asia/Ho_Chi_Minh</timezone>
                <code>vi_VN</code>
            </locale>
        </general>
        <currency>
            <options>
                <base>VND</base>
                <default>VND</default>
                <allow>VND,USD</allow>
            </options>
        </currency>
        <admin>
            <security>
                <admin_account_sharing>1</admin_account_sharing>
                <password_is_forced>0</password_is_forced>
            </security>
        </admin>
        <general>
            <region>
                <state_required>AU,BG,BR,CA,CH,CN,CO,EE,ES,HR,IN,IT,LT,LV,MX,PL,RO,US,UY</state_required>
                <display_all>0</display_all>
            </region>
        </general>
        <connector_developer_settings>
            <system_alerts>
                <system_messages>0</system_messages>
            </system_alerts>
        </connector_developer_settings>
        <bss_core>
            <setting>
                <enable_popup>0</enable_popup>
            </setting>
        </bss_core>
        <amasty_base>
            <notifications>
                <type>UNSUBSCRIBE_ALL</type>
                <frequency>30</frequency>
                <ads_enable>0</ads_enable>
            </notifications>
        </amasty_base>
        <mpcurrencyformatter>
            <general>
                <currencies>{"VND":{"show_symbol":"after","group_separator":".","decimal_number":"0","minus_sign":"-","symbol":"\u0111","decimal_separator":",","show_minus":"before_value"}}</currencies>
            </general>
        </mpcurrencyformatter>
        <plumbase>
            <menu>
                <enabled>0</enabled>
            </menu>
        </plumbase>
    </default>
</config>
