<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="sales_order_shipment_after"
                  instance="Magenest\GiaoHangNhanh\Observer\SalesOrderShipmentAfter" />
    </event>
    <event name="order_cancel_after">
        <observer name="order_cancel_after" instance="Magenest\GiaoHangNhanh\Observer\CancelGhnObserver"/>
    </event>
    <!--<event name="sales_order_creditmemo_save_after">
        <observer name="sales_order_creditmemo_cancel" instance="Magenest\GiaoHangNhanh\Observer\CancelGhnObserver"/>
    </event>-->
    <event name="sales_order_save_after">
        <observer instance="Magenest\GiaoHangNhanh\Observer\Sales\OrderSaveAfter" name="set_ghn_order_code_attribute"/>
    </event>
</config>
